/* Estilos gerais */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Preto */
  color: #FFFFFF; /* Branco */
}

h1, h2 {
  color: #FF4500; /* Laranja */
}

p {
  color: #000000; /* Preto */
}

a {
  color: #FF0000; /* Vermelho */
}

/* Estilos do cabeçalho */
header {
  background-color: #FF4500; /* Laranja */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #FFFFFF; /* Branco */
  text-decoration: none;
}

/* Estilos das seções */
section {
  padding: 50px;
  background-color: #FFFFFF; /* Branco */
  color: #000000; /* Preto */
}

/* Estilos das caixas de opções */
.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.option {
  background-color: #FF4500; /* Laranja */
  padding: 20px;
  text-align: center;
  color: #FFFFFF; /* Branco */
  border-radius: 4px;
  cursor: pointer;
}

.option:hover {
  background-color: #FF5722; /* Laranja mais escuro */
}

/* Estilos do rodapé */
footer {
  background-color: #000000; /* Preto */
  color: #FFFFFF; /* Branco */
  padding: 20px;
  text-align: center;
}
